<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076611361348-2ejks4rpiahmsa4ls1pgu3hm0qq65blg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076611361348-2ejks4rpiahmsa4ls1pgu3hm0qq65blg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1076611361348-e6q4falahuk9l28a86791a7j010u0f2o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_teiPlE6s1BzxVYc9avIpQjRH3LCcTgI</string>
	<key>GCM_SENDER_ID</key>
	<string>1076611361348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.benative.mobile</string>
	<key>PROJECT_ID</key>
	<string>native-dev-bd8e3</string>
	<key>STORAGE_BUCKET</key>
	<string>native-dev-bd8e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076611361348:ios:3642153076e6d3bb2aaa11</string>
</dict>
</plist>